# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
instance/
.venv/

# Environment / secrets
.env
.env.*

# Git
.git
.gitignore

# Frontend
node_modules/
package-lock.json
package.json

# Logs
*.log

# Docker / OS noise
.DS_Store