# Python cache
__pycache__/
__pycache__
*.pyc       

# Virtual environment
.venv/
env/
venv/
myvenv/

# Node
node_modules/

# Flask instance folder
instance/

# Environment files
.env

# macOS
.DS_Store

# IDE / Editor settings
.vscode/
.idea/

# Logs
*.log

# CSS build output
output.css

# Database migrations
migrations/
